<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freshman Ventures</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/foundation.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/vendor/modernizr.js') }}"></script>
    <script src="{{ url_for('static',filename='js/vendor/foundation.js') }}"></script>

  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><a style="color:black;" href="{{ url_for('index') }}">Ventures</a></li>
          {% if session.user %}
            {% if session.user.is_admin %}
              <li><a href="{{ url_for('entries_page') }}">Entries</a></li>
              <li><a href="{{ url_for('users_page') }}">Users</a></li>
              <li><a href="{{ url_for('setup') }}">Setup</a></li>
            {% endif %}
              <li><a href="{{ url_for('vote_page') }}">Vote</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->
    {% block subheader %}{% endblock %}

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">

      <!-- Display feedback messages to user -->
      <div class="row">
        <div id="messages">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>
      </div>

      <!-- content -->
      <div class="row medium-8 large-12 columns">
          {% block content %}{% endblock %}
      </div>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
