{% extends "base.html" %}
{% block head %}
  <title>Admin Panel</title>
{% endblock%}
{% block content %}
  <!-- Display table of entries -->
  <!-- TODO: Account for many entries, display a set amount with pages -->
  <div class="row">
    <div class="large-12 columns">
      <form id="entry_form" action="" method=post enctype=multipart/form-data onsubmit="return confirm('Do you wish to make changes to the entries?');">
        <table class="entries">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Votes</th>
            <th>Order</th>
            <th>Edit/Delete</th>
          </tr>
          {% if edict['entries'] %}
            {% for entry in edict['entries'] %}
              <tr class="entry" id="entry_{{ entry.id }}">
                <td class="name">{{ entry.name }}</td>
                <td class="desc">{{ entry.desc }}</td>
                <td class="image"><a href="{{ url_for('uploaded_file', filename=entry.image) }}"><img src="{{ url_for('uploaded_file', filename=entry.image+'.thumb') }}"></a></td>
                <td class="votes">{{ entry.entryvotes.all()|length }}</td>
                <td class="order">{{ entry.order }}</td>
                <td class="check"><input type="checkbox" name="check_entry[]" value={{entry.id}}></td>
                <td class="edit"><input type="button" class="button" onclick="edit_entry{{entry.id}}()" value="Edit"></td>
                <script>
                  function edit_entry{{ entry.id }}() {
                      var item = document.getElementById("entry_{{ entry.id }}");
                      item.getElementsByClassName('name')[0].innerHTML = "<input type='text' name='edit_name_{{ entry.id }}' value='{{ entry.name }}'>"
                      item.getElementsByClassName('desc')[0].innerHTML = "<input type='text' name='edit_desc_{{ entry.id }}' value='{{ entry.desc }}'>"
                      item.getElementsByClassName('image')[0].innerHTML = "<div class='file-upload button'><input type='file' name='edit_image_{{ entry.id }}' class='file-input'>Browse</div>"
                      item.getElementsByClassName('order')[0].innerHTML = "<input type='text' name='edit_order_{{ entry.id }}' value='{{ entry.order }}'>"
                  }
                </script>
              </tr>
            {% endfor %}
          {% endif %}
        </table>
        <p>Modify selected entries</p>
        <input type="submit" class="button" name="editentry" value="Save Edits">
        <input type="submit" class="alert button" name="delentry" value="Delete">
      </form>
    </div>

    <hr />

    <!-- Add entry -->
    <div id="add_entries" class="large-12 columns">
      <p>Add a new entry</p>
      <form action="" method=post enctype=multipart/form-data>
          <input type="text" placeholder="Entry Name" name="name">
          <input type="text" placeholder="Entry Description" name="desc">
          <div class="file-upload button">
            <input type="file" name="file" class="file-input">Choose File
          </div></br>
          <input type="submit" class="button" name="addentry" value="Add Entry">
      </form>
    </div>

    <hr />

    <!-- Clear Votes -->
    <div id="clear_votes" class="large-12 columns">
      <p>Clear ALL votes from the system?</p>
      <form action="" method=post enctype=multipart/form-data>
          <input class="alert button" type="submit" name="clear_votes" value="Clear Votes">
      </form>
    </div>

    </div>
  </div>

{% endblock %}
