{% extends "base.html" %}
{% block head %}
  <title>Setup</title>
{% endblock%}
{% block content %}

  <div class="row">
    <div class="large-12 columns">

      <h3>Initialize database and clear uploaded files?</h3>
      <form action="" method=post>
        <input type="submit" class="button" name="setup" value="Initialize">
      </form>

      {% if config.DEBUG %}
        <hr />
        <h3>Populate DB with test data?</h3>
        <form action="" method=post>
          <input type="submit" class="button" name="debugdata" value="Populate">
        </form>
      {% endif %}

      </br>
    </div>
  </div>

{% endblock %}
