{% extends "base.html" %}
{% block head %}
  <title>Manage Whitelist</title>
{% endblock%}
{% block content %}
  <div class="row">
    <!-- Manage Users -->
    <div id="add_users" class="large-12 columns">
      <p>Add users to voter whitelist</p>
      <form action="" method=post enctype=multipart/form-data>
          <textarea name="usernames" placeholder="Input a list of names, separated by commas."></textarea>
          <input class="button" type="submit" name="add_voters" value="Add Voters">
          <input class="button" type="submit" name="remove_voters" value="Remove Voters">
          <input class="alert button" type="submit" name="clear_voters" value="Clear All Voters">
          <input type="checkbox" name="delete_votes" checked> Delete votes of removed/cleared voters.
      </form>
      {% if voters %}
        <p>Current list of voters:<p>
          {{voters}}
      {% else %}
        <p>No users to display.</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
